*{
    margin: 0;
    padding: 0;
}
body{
    background-color:  rgba(0, 0,  0.9);
    color: white;
    font-family: 'Poppins',sans-serif ;

}
nav{
    display: flex;
    justify-content: space-around   ;
    align-items: center;
    height: 85px;
    background-color: rgb(34, 32, 32);
}
nav ul{
    display: flex;
    justify-content: center;

}
nav ul li{
    list-style: none;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;}


nav ul li a:hover{
            
            color:rgb(244, 56, 56);
    font-size: 1.04rem;}

.left{
    font-size: 1.5rem;
}
.firstSection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90vmin;
    padding-left: 5vw;
    gap: 10vw;
}
    .firstSection  div{
    width: 30%;
}
.leftSection{
    font-size: 2.5rem;
     align-items:center;   
}
.rightSection img{
    width: 50%;
    scale: 2.5;
}   
.red{
    color:crimson;
}

#element{
    color:crimson
}
.secondSection{
    max-width: 80vw;
    margin: auto;
}
.secondSection h1{
    text-align: center;
    font-size: 3vw;
    font-weight: 600;
    color: white;
}

.contactme {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
}

.contactme h1 {
    font-size: 3vw;
}

.contactme p {
    font-size: 1.5vw;
}

.contactme form {
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding-bottom: 3vh;
}

.contactme form input {
    margin-left: 8vw;
    color: white;
    border-radius: 0.5vw;
    width: 20vw;
    height: 3vh;
    border: 0.1vw solid white;
    background-color: black;
    outline: none;
    padding: 0.5vh;
    font-size: 0.8vw;
    padding-left: 1vw;
}

.contactme form textarea {
    margin-left: 8vw;
    width: 20vw;
    height: 10vh;
    font-size: 1vw;
    background-color: black;
    color: white;
    padding: 1vh;
    outline: none;
}

.contactme form button {
    cursor: pointer;
    background-color: teal;
    border: 0.1vw solid teal;
    color: white;
    width: 40vw;
    height: 3vw;
    font-size: 1vw;
    padding: 0.25vh;
    border-radius: 0.25vw;
    transition-duration: 0.5s;
    transition-property: border, color, background-color;
}

.contactme form button:hover {
    background-color: black;
    border: 0.1vw solid white;
}

footer {
    padding: 2vmin;
    background-position: cover;
}

footer div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer div a svg {
    fill: white;
}

footer p a {
    display: flex;
    justify-content: space-around;
    margin-top: 3vmin;
    font-size: 1vw;
    font-weight: 600;
    color: crimson;
}

footer p a:hover {
    color: rgb(7, 7, 82);
    font-weight: 400;
}
